<div class="theme-layout">

    <!-- responsive header -->

    <!-- topbar -->
    <app-top-bar></app-top-bar>

    <!-- right sidebar user chat -->
    <app-right-sidebar></app-right-sidebar>
    <!-- left sidebar menu -->
    <app-left-sidebar></app-left-sidebar>
    <section>
        <div class="gap2 gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row merged20" id="page-contents">
                            <div class="col-lg-3">
                                <aside class="sidebar static left ">
                                    <app-shortcuts></app-shortcuts>
                                    <!-- Shortcuts -->
                                    <app-recent-activites></app-recent-activites>
                                    <!-- recent activites -->
                                    <app-following></app-following>
                                    <!-- who's following -->
                                </aside>
                            </div><!-- sidebar -->
                            <div class="col-lg-6">
                                <app-publication></app-publication>
                            </div>
                            
                            <div class="col-lg-3">
                                <app-sidebar></app-sidebar>
                            </div>

                            <!-- centerl meta -->


                            <!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bottombar">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span class="copyright"><a target="_blank" href="https://www.templateshub.net">Templates
                            Hub</a></span>
                    <i><img src="assets/images/credit-cards.png" alt=""></i>
                </div>
            </div>
        </div>
    </div>
</div>
<app-side-panel></app-side-panel><!-- side panel -->
<app-footer></app-footer>